body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("sea_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: none;
  color: #fff;
}

h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

input {
 margin-bottom: 10px;
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  display: block; /* Change the display property */
}

input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px rgba(66, 133, 244, 0.8);
}


button {
  padding: 10px 20px;
  background-color: #6ea8f3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.button-container {
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #3366bb;
}


